body{
    margin-top: 200px;
}

.Topbar{
    margin-left: 15%;
}

.sidebar{
    margin-top: -5.4%;
    
}


.flex{
    display: flex;
}

.Topbar{
    width: 1270px;
}

.regcard{
    padding-top: 20px;
}