<<<<<<< HEAD
=======
body{
    margin-top: 100px;
}

>>>>>>> a1349782079c7ed00fbb5d22a3450fa5f3cfd1d6
.Topbar{
    margin-left: 15%;
}

.sidebar{
    margin-top: -5.4%;
    
}


.flex{
    display: flex;
}

<<<<<<< HEAD
.ftrbusreg{
    
=======
.Topbar{
    width: 1270px;
}

.regcard{
    margin-top: -45px;
    padding-top: 0px;
>>>>>>> a1349782079c7ed00fbb5d22a3450fa5f3cfd1d6
}