
body{
    margin-top: 100px;
}


.Topbar{
    margin-left: 15%;
}

.sidebar{
    margin-top: -5.4%;
    
}


.flex{
    display: flex;
}


.Topbar{
    width: 1270px;
}

.regcard{
    margin-top: -45px;
    padding-top: 0px;

}