/* .Logobox{

}

@media screen and (max-width: 600px) {
    .BusownersideBar{
        padding-top: 20px;
      font-size: smaller;
      float: left;
    }
    .Logobox{
        font-size: small;
    }
  }
  */

  @media (max-width: 767px) {
    .navbar-nav {
      flex-direction: column;
      width: 100%;
    }
  
    .navbar-nav li {
      width: 100%;
    }
  
    .navbar-nav .collapse-inner {
      margin-left: 0;
      margin-right: 0;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  
    .navbar-nav .collapse-item {
      padding: 0.25rem 0;
    }
  
    .navbar-nav .sidebar-heading {
      display: none;
    }
  
    .navbar-nav .nav-link {
      display: block;
      text-align: left;
    }

    
  }
  