.small-button {
    font-size: 12px; /* Adjust the font size as needed */
    padding: 4px 8px; /* Adjust the padding as needed */
  }
 .delete-button {
    background-color: rgb(86, 3, 3);
    color: #fff;
    }
    
.delete-button:hover {
    background-color: rgb(86, 3, 3);
    }
.toast-error {
        background-color: #540903;
        color: #fff;
        }
        

.green-column {
          background-color:#01281a;
          color: white;
        }