.Topbar{
    margin-left: 15%;
}

.sidebar{
    margin-top: -5.4%;
}


.flex{
    display: flex;
}

<<<<<<< HEAD
=======
.Dash{
    padding-top: 20px;
    padding-left: 100px;
}

.bustable{
    margin-top: 00px;
}

>>>>>>> a1349782079c7ed00fbb5d22a3450fa5f3cfd1d6
